//The :root selector is a convenient place to declare global variables
:root{
  --primary: #FFF3B4;
  --primary-010: #FDF7F7;

  --white: #fff;

  --grey: #b2a2a2;

  --black: #10101a;
  --black-010: #2a2a30;

  --red: #c90025;
  --red-010: #a3001e;
}
