.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;

  border: none;
  cursor: pointer;

  &.btn-primary,
  &.btn-primary-circle{
    color: var(--black-010);
    background: var(--primary);

    &:hover{
      background-color: var(--primary-010);
      color: var(--white);
    }
  }

  &.btn-danger,
  &.btn-danger-circle{
    color: var(--black-010);
    background:  rgb(233, 236, 133);

    &:hover{
      background-color: var(--red-010);
    }
  }

  &.btn-edit-circle{
    background: rgb(233, 236, 133);

    &:hover{
      background-color: var(--white);
    }
  }

  &.btn-primary,
  &.btn-danger{
    font-size: 18px;
    border-radius: 50px;
    padding: 10px 20px;
  }

  &.btn-primary-circle,
  &.btn-danger-circle,
  &.btn-edit-circle{
   width: 30px;
   height: 30px;
   border-radius:50px;

    // &::after{
    //   top: 1px;
    //   position: relative;
    // }

  }

  &.btn-primary-circle{
    &::after{
      // content: url(../../assets/icons/Add.png);
      top: 3px;
      position: relative;
    }
  }

  &.btn-danger-circle{
    &::after{
      // content: url(../../assets/icons/Delete.png);
      top: 3px;
      position: relative;
    }
  }

  &.btn-edit-circle{
    &::after{
      content: url(../../assets/icons/Pencil.png);
      top: 3px;
      position: relative;
    }
  }
}
