<header>
  <div class = "container-header">
    <a routerLink = "/" class = logo>
      <img src="../../../../assets/img/Logo.png" alt="Description of the image" />
    </a>

    <nav>
      <ul>
        <li> <a routerLink = "/lists"> Lists </a> </li>
        <li class="profile">
           <a routerLink = "/profile"> Tatiana Kawaguti </a>
           <div class="menu">
            <a routerLink="/Settings"> Settings</a>
            <a>Logout</a>
           </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

